.search-result-container{
  display: block;
}

.search-results{

  margin-top:1em;

  .search-result-item{
    width: 18em;
    height: 22em;
    float: left;
    margin: 0 -1px -1px 0;

    img{
      width: 12em;
      height: 12em;
    }

    .add-button,.remove-button{
      font-weight: bold;
    }

  }

}
