.product-detail-modal {
  outline: none;
  width: 700px;
  max-height: 750px;
  margin-bottom: 1rem;
  transform: translate3d(0,0,0);
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0,0,0,.3);
  text-align: left;
  @media (min-width: 768px) {
    height: auto;
    max-width: 700px;
    &.flexible {
      width: auto;
    }
  }
  & a {
    text-decoration: none;
    cursor: pointer;
  }
  .product-detail-modal-close-btn {
    cursor: pointer;
    color: rgba(50, 50, 50, .5);
    position: absolute;
    right: 0.25em;
    text-transform: uppercase;
    font-size: 1.25em;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  }
  .product-department-category {
    padding-left: 1em;
    font-size: 1em;
  }
  .product-options {
    display: inline-block;
  }
  .product-detail-name {
    font-size: 2em;
  }
  .product-detail-user-features-container {
    border-top: 1px solid #d3d3d3;
    padding-top: 2em;
  }
  .product-detail-favorite-heart {
    color: white;
    text-shadow: red 1px 1px 5px;
  }
  .product-detail-favorite-link {
    color: red;
  }
  .product-detail-favorite-link:hover {
    color: crimson;
  }
  .product-detail-favorite,
  .product-detail-add-to-list {
    font-size: 1em;
  }
  .product-detail-price {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
  }
  .product-detail-weight,
  .product-detail-related-item-price {
    color: grey;
    font-weight: 100;
  }
  .product-detail-add-to-cart {
    margin: 2em auto 1em auto;
  }
  .product-detail-related-items-container {
    border-top: 1px solid #d3d3d3;
  }
}

.ModalOverlay {
  position: fixed;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  background: rgba(50, 50, 50, .5);
  backface-visibility: hidden;
}

/**
 * Modal wrapper for positioning the modal centered
 */
.ModalWrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  backface-visibility: hidden;
}
