<div class="product-detail-modal">
  <div class="product-detail-modal-close-btn" ng-click="detailModalCtrl.close()">x</div>
  <div class="product-department-category">
    <a>{{detailModalCtrl.selectedProduct.item.department}}</a>
    &#47;
    <a>{{detailModalCtrl.selectedProduct.item.category}}</a>
  </div>
  <div class="col-xs-12">
    <img class="col-xs-6" alt="{{detailModalCtrl.selectedProduct.item.name}}" ng-src="{{detailModalCtrl.selectedProduct.item.url}}"/>
    <div class="col-xs-6"class="product-options">
      <div class="product-detail-name">{{detailModalCtrl.selectedProduct.item.name}}</div>
      <div class="product-detail-weight">{{detailModalCtrl.selectedProduct.item.weight}}</div>
      <div class="product-detail-price">{{detailModalCtrl.selectedProduct.item.price | currency}}</div>
      <button class="btn btn-success btn-block product-detail-add-to-cart"
              ng-click="detailModalCtrl.shoppingCart.increment(detailModalCtrl.selectedProduct.item.name)">
        <span ng-show="detailModalCtrl.shoppingCart.getItemCount(detailModalCtrl.selectedProduct.item.name) > 0">
          {{detailModalCtrl.shoppingCart.getItemCount(detailModalCtrl.selectedProduct.item.name)}} in Cart
        </span>
        <span ng-hide="detailModalCtrl.shoppingCart.getItemCount(detailModalCtrl.selectedProduct.item.name) > 0">
          <i class="glyphicon glyphicon-plus"></i>
          Add to Cart
        </span>
      </button>
      <div class="product-detail-user-features-container">
        <div class="product-detail-favorite">
          <a class="product-detail-favorite-link"><i class="glyphicon glyphicon-heart-empty"></i> Favorite</a>
        </div>
        <div class="product-detail-add-to-list">
          <a><i class="glyphicon glyphicon-list"></i> Add to list</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 product-detail-related-items-container">
      <h4>Related Items</h4>
      <div class="col-xs-3" ng-repeat="item in detailModalCtrl.relatedItems | limitTo: 4">
        <img class="col-xs-12" ng-src="{{item.url}}"/>
        <div class="col-xs-12">{{item.name}}</div>
        <div class="col-xs-12 product-detail-related-item-price">{{item.price | currency}}</div>
      </div>
    </div>
  <div>
</div>
