<div class="product-detail-modal">
  <div class="product-detail-modal-close-btn" ng-click="detailModalCtrl.close()">x</div>
  <div class="product-department-category">
    <a>{{detailModalCtrl.selectedProduct.item.department}}</a>
    &#47;
    <a>{{detailModalCtrl.selectedProduct.item.category}}</a>
  </div>
  <div class="col-xs-12">
    <img class="col-xs-6" alt="{{detailModalCtrl.selectedProduct.item.name}}" ng-src="{{detailModalCtrl.selectedProduct.item.url}}"/>
    <div class="col-xs-6"class="product-options">
      <div>{{detailModalCtrl.selectedProduct.item.name}}</div>
      <div class="product-detail-weight">{{detailModalCtrl.selectedProduct.item.weight}}</div>
      <div class="product-detail-price">{{detailModalCtrl.selectedProduct.item.price | currency}}</div>
      <button class="btn btn-success btn-block"
              ng-click="detailModalCtrl.shoppingCart.increment(detailModalCtrl.selectedProduct.item.name)">
        <span ng-show="detailModalCtrl.shoppingCart.getItemCount(detailModalCtrl.selectedProduct.item.name) > 0">
          {{detailModalCtrl.shoppingCart.getItemCount(detailModalCtrl.selectedProduct.item.name)}} in Cart
        </span>
        <span ng-hide="detailModalCtrl.shoppingCart.getItemCount(detailModalCtrl.selectedProduct.item.name) > 0">
          Add to Cart
        </span>
      </button>
      <div><span class="product-detail-favorite-heart">&#9829; </span><a class="product-detail-favorite-link">Favorite</a></div>
      <div><span>&#8801; </span><a>Add to list</a></div>
    </div>
    <hr>
    <div class="col-xs-12 product-detail-related-items-container">
      <div>Related Items</div>
      <div class="col-xs-3" ng-repeat="item in detailModalCtrl.relatedItems | limitTo: 4">
        <img class="col-xs-12" ng-src="{{item.url}}"/>
        <div class="col-xs-12">{{item.name}}</div>
        <div class="col-xs-12 product-detail-related-item-price">{{item.price | currency}}</div>
      </div>
    </div>
  <div>
</div>
