.product-detail-modal {
  outline: none;
  width: 350px;
  height: 300px;
  margin-bottom: 1rem;
  transform: translate3d(0,0,0);
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0,0,0,.3);
  text-align: left;
  @media (min-width: 768px) {
    height: auto;
    max-width: 700px;
    &.flexible {
      width: auto;
    }
  }
  .product-detail-modal-close-btn {
    cursor: pointer;
    color: white;
    position: absolute;
    top: -1.5em;
    right: 0;
    text-transform: uppercase;
    font-size: 2em;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  }
  .product-department-category {
    padding-left: 1em;
    font-size: 1em;
    & a {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.ModalOverlay {
  position: fixed;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  background: rgba(50, 50, 50, .5);
  backface-visibility: hidden;
}

/**
 * Modal wrapper for positioning the modal centered
 */
.ModalWrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  backface-visibility: hidden;
}

/**
 * Modal itself
 */
