/* styles in src/style directory are applied to the whole page */

/*vendor css*/
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/angucomplete-alt/angucomplete-alt.css";

/*app css*/
@import "modules/search/search";
@import "modules/search/result/result";
@import "modules/productDetail/detail-modal";


body {

}

a {
  color: #03A9F4;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

.app-header{
  margin: 0 auto;
}