<div class="search">
  <h1>{{search.name}}</h1>
  <angucomplete-alt id="search-groceries"
                    placeholder="Search Groceries"
                    pause="400"
                    selected-object="objectSelectedCallback"
                    input-changed="inputChangedCallback"
                    remote-api-handler="searchItems"
                    remote-url-data-field="results"
                    remote-url-response-formatter="searchResponseFormatter"
                    title-field="name"
                    input-class="form-control form-control-small">
  </angucomplete-alt>
</div>
<result items="search.searchResultItems" class="search-result-container"></result>
<div class="page-buttons">
    <button class="btn btn-info" ng-click="search.prev()" ng-disabled="!search.pageState.prev">previous</button>
    <button class="btn btn-info" ng-click="search.next()" ng-disabled="!search.pageState.next">next</button>
</div>
