<div class="search">
    <h1>{{search.name}}</h1>
    <angucomplete-alt id="search-groceries"
                      placeholder="Search Groceries"
                      pause="400"
                      selected-object="objectSelectedCallback"
                      remote-api-handler="searchItems"
                      remote-url-data-field="results"
                      remote-url-response-formatter="searchResponseFormatter"
                      title-field="name"
                      input-class="form-control form-control-small"></angucomplete-alt>
</div>
<div class="search-results">
    <result ng-repeat="items in search.searchResultItems track by $index"></result>
</div>